h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

p2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #7f7f7f
    background: url(50%-transparent-white.png);
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color:484848;
}
body {
  text-align: center;
    background: #f2f2f2;
    
 }
.loginbox {
  color:#7f7f7f;
    background: url(50%-transparent-white.png);
  background: rgba(255, 255, 255, 0.5);
}
.boxed {
  border: 1px solid rgb(128, 128, 128);
    width: 190px;
    height: 190px;
    align-content: center;
    text-align: center;
    background-color: #7f7f7f;
}

.header {
    height:50px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
}


#text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #a2a2a2;
}

#head {
    font-weight: 700;
    color: #484848;
}

html {
    color: #484848;
}


div, :before {
	position: absolute;
	top: -6.5%; left: 87%;
}




#usr- {
    text-align: right;
    font-size: 20px;
  
    
    
}

.usericon {
    border-radius: 50%;
   
}

A:link {
text-decoration: none;
color: #484848;
}

A:visited {
text-decoration: none;
color: #484848;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.searchbar{
 width:800px;
 height:30px;
    Position: relative;
    bottom : -2.5px;
    left : 1px;
    background: url(50%-transparent-white.png);
    background: rgba(255,255,255,0.5);
    border:0;
    color:#7f7f7f;
    font-weight:100;
    font:10pt;
	
}
.headerline{
background: #ffffff;
position: relative;
top:0px;
width :100px;
height:50px;
}
.loginstuff{
position:relative;
bottom:-100px;
right:0px;
}
}

/*----other stuff----*/

 
body {
    background:#f2f2f2 url('body-bg.jpg');
}
 
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100px;
    /*box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#ffffff;*/
}
 
.menu {
    width:100px;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
  
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
  text-decoration:none;
    font-family:'Ek Mukta';
  
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#464646;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 0px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#ffffff;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:100%;
    padding:0px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#ffffff;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#ffffff;
}

.appbox{
	width:100px;
	Height:20px;
	background:#ffffff;
}
.show{
	width:50px;
	height:30px;
	background:#fff;
}
