#taskbar {
  width:100% ;
  height:40px;
  background-color:#e5e5e5;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden;
}
.fullbtn {
	float:right;
	position:relative;
	left:-4px;
	top:2px;
	
   
    color: #efefef;
    
  font-size: 32px;

  
  color: #ccc;
	
	

}
.searchbar{
position:relative; 
  font-size:20px; 
  left:150px;
    font-weight:200;
  width:400px;
  height:38px;
  border:none;
  background-color:#efefef;
  
}


.wrap,.wrap2{
	width: 230px;
	height: auto;
	margin: 70px 100px;
	float: left;
}
.wrap2{
	width: 210px !important;
}
div[class^="app-"]{
	
	margin: 0 10px 10px 0;
	height: 95px;
	position: relative;
	cursor: pointer;
	transition: all .4s ease;
  user-drag: element;
  border: solid 2px transparent;
}
div[class^="app-"]:hover{
	border: solid 2px mintcream;
}
div[class^="app-"]:active{
	transform: scale(.98,.98);
}
.app-big{
 border: none;  height: 100px; width: 100px;  
}
.app-small{width: 95px;}
.last{margin-right: 0 !important;}

.space{
	margin-bottom: 110px;
}
.label{
	position: absolute;
	color: white;
	font: 500 12px sans-serif;
	left: 10px;
  user-select: none;
}




div[class^="icon"]{
	width: 45px;
	height: 45px;
	margin: 20px auto;
	background-size: 45px 45px;
}

::-webkit-scrollbar{
  width: 10px;
	height: 10px;
	cursor: pointer;	
}
::-webkit-scrollbar-track {
    
    background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
    background: #cccccc; 
  
    cursor: pointer;
}
::selection{
    background: #e5e5e5; 
}

@keyframes flip{
  0%{
    transform: rotateX(0deg);
  }
  15%{
    transform: rotateX(360deg);  
  }
  100%{
    transform: rotateX(360deg); 
  }
}

.photo img{
  top: -4px;
  left: -4px;
  position: absolute;
  opacity: 0;
  animation: fade 8s ease-in-out infinite 8s;
  z-index: 0;
  border: solid 2px transparent;
  transition: all .3s ease;
}

.photo img:hover{
  border: solid 2px mintcream;
}

@keyframes fade{
  0%{
    opacity: 0; 
  }
  10%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
}
.appbox{

	height: 0px;
  width:0px;
	position: relative;
	cursor: pointer;
	transition: all .4s ease;
  user-drag: element;

}
.appbox:active{
	transform: scale(.99,.99);
}
 .notesbox{
            width:480px;
            height:425px;
            padding: 30px;
            resize: none;
            border:none;
            font-size:20px;
            position:relative;
          }
